body{
    display:block;
    margin:0;
    background-color: #EFD592;
}
button{
    display:block;
    position: fixed;
    top: 50%;
    left: 50%;

    width: 240px;
    height: 50px;
    background-color: #EFD592;  
    box-sizing: border-box;
    
    border-color: #242d38;
    border: 4px;
    
    text-align: center;
    justify-content: center;

    padding: 0 0;
    margin: 0 0;

    transform: translate(-50%, -50%);



    font-family: 'Poppins', sans-serif;
    font-weight: bold;

    
}