body{
    background-color: #EFD592;   
}
button{
    display: block;
    background-color: #EFD592;  

    top: 50%;
    left: 50%;
    text-align: center;
    justify-content: center;

    padding: 0 0;
    margin: 0 0;

    transform: translate(-50%, -50%);

   borderd
    border-color: #242d38;
    border: 4px;

    width: 240px;
    height: 50px;

    font-family: 'Poppins', sans-serif;
    font-weight: bold;

    
}